{% extends 'base.html' %}

{% block title_page %}
Dodaj Wydatek
{% endblock %}

{% block content %}


<div class="container">
    <h4 class="my-4">
        {% if last_added_text is not none %}
            {{ last_added_text }}
        {% else %}
            Tu możesz dodać nowy wydatek.
        {% endif %}
    </h4>

    {% set submit_button_text = 'Dodaj' %}
    {% include 'snippets/expenditure_view.html' %}

    <br/>
    <br/>
</div>
{% endblock content %}

{% block js %}
{% include 'snippets/set_date.js' %}
{% endblock %}

{% block onloadCode %}
var today = new Date();
setDate("input_expenditure_date", today);
{% endblock %}
