{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Przeglądaj budżet</h1>

    <form method="GET">
        {% include 'snippets/from_to_date_input.js' %}
        <div class="form-group">
            <label for="input_whose_budget">Budżet dla:</label>
            <select id="input_whose_budget" class="form-control" name="whose_budget">
                {% for whose_budget in whose_budgets %}
                <option>{{ whose_budget }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block"> Zmień zakres</button>
    </form>
    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Budżet <br/> PLN</th>
            <th>Ratio</th>
        </tr>
        </thead>
        <tbody>
        {% for category_budget in category_budgets %}
        <tr class="{{ category_budget.get_savings_color_level() }}">
            <td>{{ category_budget.category.id }}</td>
            <td>{{ category_budget.category.name }}</td>
            <td> {{ category_budget.get_budget_str() }}</td>
            <td> {{ category_budget.get_budget_ratio() }}</td>
        </tr>
        {% endfor %}

        <tr class="{{ summary_category_budget.get_savings_color_level() }}">
            <td>{{ summary_category_budget.category.id }}</td>
            <td> <b>{{ summary_category_budget.category.name }}</b></td>
            <td> <b>{{ summary_category_budget.get_budget_str() }}</b></td>
            <td> <b>{{ summary_category_budget.get_budget_ratio() }}</b></td>
        </tr>
        </tbody>
    </table>

    <hr/>
    {% autoescape false %}
    {{ summary_info }}
    {% endautoescape %}

</div>
{% endblock content %}


{% block onloadCode %}
document.getElementById("input_date_from").setAttribute("value", "{{ date_from_str }}");
document.getElementById("input_date_to").setAttribute("value", "{{ date_to_str }}");
document.getElementById("input_whose_budget").value = "{{ whose_budget }}"
{% endblock %}

