{% extends 'base.html' %}


{% block content %}
<div class="container">
  <h1 class="my-4">Kategorie wydatków:</h1>
  {% if categories|length < 1 %}
  <p>Nie ma żadnych kategorii!</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Budżet <br/> D&P PLN</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td> {{ category.get_budget_str() }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock content %}
