{% extends 'base.html' %}

{% block title_page %}
Dodaj Wydatek
{% endblock %}

{% block content %}


<div class="container">
    <h4 class="my-4">
        Edytujesz istniejący wydatek.
    </h4>
    {% set submit_button_text = 'Zmień' %}
    {% include 'snippets/expenditure_view.html' %}

    <br/>
    <a class="btn btn-danger btn-sm btn-lg btn-block" href="/expenditure/delete/{{ expenditure.id }}" role="button">Usuń</a>

    <br/>
    <br/>
</div>
{% endblock content %}


{% block js %}
{% if expenditure is defined %}
function displayExpenditure()
{
    document.getElementById("input_category").value = "{{ expenditure.get_category().get_display_name() }}"
    document.getElementById("input_amount").value = {{ expenditure.amount }}
    document.getElementById("input_expenditure_date").value = "{{ expenditure.gey_date_yyyy_mm_dd() }}"
    document.getElementById("input_name").value = "{{ expenditure.name }}"
    document.getElementById("input_description").value = "{{ expenditure.description }}"
    document.getElementById("input_owner_przemek").checked = {{ expenditure.is_owner_przemek_str() }}
    document.getElementById("input_owner_dagmara").checked = {{ expenditure.is_owner_dagmara_str() }}
    document.getElementById("input_paid_by_other").checked = {{ expenditure.paid_by_other_str() }}
}
{% endif %}
{% endblock %}


{% block onloadCode %}
{% if expenditure is defined %}
    displayExpenditure()
{% endif %}
{% endblock %}
