{% extends 'base.html' %}

{% block title_page %}
Error!
{% endblock %}

{% block content %}


<div class="container">
    <h4 class="my-4">
        {% if error_text is defined and not none %}
        {% autoescape false %}
            {{ error_text }}
        {% endautoescape %}

        {% else %}
            Nienznany błąd!
        {% endif %}
    </h4>

    <br/>
</div>
{% endblock content %}
