{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Strona Główna</h1>

  Tu jest informacyjny tekst.
  <br>
  <br>
  <a href="/expenditures_csv">Pobierz wydatki</a>
</div>
{% endblock content %}
