{% extends 'base.html' %}


{% block content %}
<div class="container">
  <h1 class="my-4">Ostatnie Wydatki:</h1>
  {% if recent_expenditures|length < 1 %}
  <p>Nie ma żadnych wydatków!</p>
  {% else %}

      <form method="GET">
        {% include 'snippets/from_to_date_input.js' %}
         <button type="submit" class="btn btn-primary btn-block"> Zmień zakres</button>
    </form>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Data</th>
        <th>Kwota<br>PLN</th>
        <th>Kto</th>
      </tr>
    </thead>
    <tbody>
      {% for expenditure in recent_expenditures %}
      <tr>
        <td><a href="edit_expenditure.html?id={{ expenditure.id }}">{{ expenditure.name }}</a></td>
        <td>{{ expenditure.created_at.date() }}</td>
        <td>{{ expenditure.amount }}</td>
        <td>{{ expenditure.get_owner_letter() }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock content %}


{% block onloadCode %}
document.getElementById("input_date_from").setAttribute("value", "{{ date_from_str }}");
document.getElementById("input_date_to").setAttribute("value", "{{ date_to_str }}");
{% endblock %}

