<form method="POST">
    <div class="form-group">
        <label for="input_category">Kategoria</label>
        <select id="input_category" class="form-control" name="category">
            {% for category in categories %}
            <option>{{ category.get_display_name() }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="input_amount">Kwota [zł]:</label>
        <input type="number" class="form-control" id="input_amount" placeholder="PLN" name="amount_pln">
    </div>

    <div class="form-group">
        <label for="input_amount">Data dokonania:</label>
        <input type="date" id="input_expenditure_date" class="form-control" name="created_at">
    </div>

    <div class="form-group">
        <label for="description">Opis:</label>
        <input type="text" class="form-control" name="name" id="input_name" placeholder="Krótka nazwa...">
        <input type="text" class="form-control" name="description" id="input_description"
               placeholder="Opcjonalny opis...">
    </div>

    <div class="form-group">
        <label for="input_category">Dokonany przez:</label>
        <br/>
        <label><input type="radio" name="owner" id="input_owner_dagmara" value="dagmara" class="form-control">
            Dagmara</label>
        <label><input type="radio" name="owner" id="input_owner_przemek" value="przemek" checked class="form-control">
            Przemek</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="input_paid_by_other" name="paid_by_other">
        <label class="form-check-label" for="checkbox_paid_by_other_person">Opłacone przez drugą osobę</label>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary btn-block"> {{ submit_button_text }}</button>
</form>
